<h1>Chapters#index</h1>
<%= react_component('Chapters', chapters: @chapters) %>
<!-- <ul>
  <% @chapters.each do |chapter| %>
    <li> <%= link_to chapter.title, chapter_path(chapter) %></li>
  <% end %>
  <%= link_to 'Chapter test', chapters_test_path %>
</ul> -->
